# CENG414 Assignment 2

### Due: May 7, Sunday-23.59

### Submission and Grading Policy

- Submit your assignments to the corresponding assignment link in ODTUClass.
- Do not change variable names in the code blocks and the texts in the markdowns.
- **<font color=#C91414>This is an individual assignment. Please do not collaborate. You have to adhere to the academic integrity principles.</font>** 

------------

### The aim of this assignment is getting you familiar with
- Python and Jupyter notebook
- basic data transformations

In [1]:
import pandas as pd
import numpy as np
# If you need another library or packages, you may insert them too.

**1. Upload the data as a pandas dataframe and show the first three rows.**

In [2]:
### answer ###
colNames = ["index","Age","Sex","Job","Housing","Saving accounts","Checking account","Credit amount","Duration","Purpose","Risk"]
df = pd.read_csv("C:/Users/90546/Desktop/Ceng414/THE2/german_credit_risk.csv", sep=",", names=colNames, skiprows=[0])
result = df.head(3)
print("First 3 rows of the DataFrame:")
print(result)

First 3 rows of the DataFrame:
   index  Age     Sex  Job Housing Saving accounts Checking account
0      0   67    male    2     own             NaN           little  \
1      1   22  female    2     own          little         moderate
2      2   49    male    1     own          little              NaN

   Credit amount  Duration    Purpose  Risk
0           1169         6   radio/TV  good
1           5951        48   radio/TV   bad
2           2096        12  education  good

**2. How many features and observations are there in the data set (rows x columns)?**

In [6]:
### answer ###
observations = df.shape[0]
featureCount = df.shape[1]
print("Row count(observations) is {} and Column count(features) is {}.".format(observations,featureCount))
print("Shape is {}".format(df.shape))

Row count(observations) is 1000 and Column count(features) is 11.
Shape is (1000, 11)

Notice that some data points are missing. For example, see the value of the "Saving accounts" by typing **print(df.iloc[0])**    
**3. Find and print the number of missing values in each column**

In [7]:
print(df.iloc[0])
### answer ###
i = 0

for name in colNames:
    missingValuesNumber = df[name].isnull().sum()
    print("{} column has {} missing values".format(name,missingValuesNumber))

index                      0
Age                       67
Sex                     male
Job                        2
Housing                  own
Saving accounts          NaN
Checking account      little
Credit amount           1169
Duration                   6
Purpose             radio/TV
Risk                    good
Name: 0, dtype: object
index column has 0 missing values
Age column has 0 missing values
Sex column has 0 missing values
Job column has 0 missing values
Housing column has 0 missing values
Saving accounts column has 183 missing values
Checking account column has 394 missing values
Credit amount column has 0 missing values
Duration column has 0 missing values
Purpose column has 0 missing values
Risk column has 0 missing values

**4. Drop the columns which have more than %20 missing value rate.**

In [8]:
### answer ###

for name in colNames:
    rate = float(df[name].isnull().sum())/float(observations)
    if (rate > (20./100.)):
        #print("I dropped {} with rate {}".format(name,(float(df[name].isnull().sum())/float(observations))))
        df = df.drop(name, axis=1)

**5. Create a dataframe named credit_wo_na by dropping the rows which have missing values.  
What is the shape (rows x columns) of newly created data frame "credit_wo_na"?**   
Please do the rest of the assignment with data_wo_na.

In [9]:
### answer ###
credit_wo_na = df.dropna()
print("Shape of credit_wo_na is {}".format(credit_wo_na.shape))

Shape of credit_wo_na is (817, 10)

**6. Create a csv file named "credit_wo_na.csv" using the newly created data frame "credit_wo_na"?**   
Please do the rest of the assignment with credit_wo_na.

In [49]:
### answer ###
credit_wo_na.to_csv('credit_wo_na.csv', index=False)